<!doctype html>
<html lang="en">

<head th:replace="~{/fragments/sidebar::head(title='Register')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="language-selector">
                                <a href="?lang=vi" class="lang-btn" th:text="#{vietnamese}"></a>
                                <span>|</span>
                                <a href="?lang=en" class="lang-btn" th:text="#{english}"></a>
                            </div>
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                            </a>
                            <p class="text-center" th:text="#{createAccount}"></p>

                            <!-- Thêm đoạn này để hiển thị thông báo lỗi -->
                            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

                            <form method="post" action="#" th:action="@{/detailAcc/register}" th:object="${detail_account}">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="firstName" class="form-label" th:text="#{firstName}"></label>
                                            <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="textHelp" required>
                                        </div>
                                        <div class="col">
                                            <label for="lastName" class="form-label" th:text="#{lastName}"></label>
                                            <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="textHelp" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="mail" class="form-label" th:text="#{emailAddress}"></label>
                                            <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="dayOfBirth" class="form-label" th:text="#{dateOfBirth}"></label>
                                    <input type="text" class="form-control" id="dayOfBirth" name="dayOfBirth" placeholder="Example: 2000-02-19" required>
                                </div>
                                <div class="mb-4">
                                    <label for="role" class="form-label" th:text="#{role}"></label>
                                    <input type="text" class="form-control" id="role" name="role" required>
                                </div>

                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" th:text="#{signUp}"></button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold"></p>
                                    <a class="text-primary fw-bold ms-2" href="/home" th:text="#{returnHome}"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
