<!doctype html>
<html lang="en">

<head th:replace="~{/fragments/sidebar::head(title='Login')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="../assets/css/styles.min.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="language-selector">
                                <a href="?lang=vi" class="lang-btn" th:text="#{vietnamese}"></a>
                                <span>|</span>
                                <a href="?lang=en" class="lang-btn" th:text="#{english}"></a>
                            </div>
                            <div style="text-align: center; font-size:24px;font-weight: 700  " th:text="#{signIn}"><b></b></div>
                            <p th:if="${session.error}" class="alert alert-danger" role="alert"
                               th:text="${session.error}" id="error-message"></p>
                            <form method="post" action="#" th:action="@{/checkLogin}" th:object="${account}">
                                <div class="mb-3">
                                    <label class="form-label">ID</label>
                                    <input type="text" pattern="[0-9]*" required maxlength="6" minlength="6" inputmode="numeric"
                                           class="form-control" id="id_account" name="id_account"
                                           th:field="*{id_account}">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" th:text="#{passWord}"></label>
                                    <input type="password" class="form-control" required id="password" name="password"
                                           th:field="*{password}" maxlength="12" minlength="8">
                                </div>

                                <button href="templates/index.html" type="submit"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" th:text="#{signIn}">
                                </button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold"></p>
                                    <a class="text-primary fw-bold ms-2" href="/forgot-password"
                                       th:text="#{forgotPassword}"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputField = document.getElementById('id_account');
        const password = document.getElementById('password');
        const errorMessage = document.getElementById('error-message');

        inputField.addEventListener('focus', function () {
            errorMessage.style.display = 'none';
        });

        password.addEventListener('focus', function () {
            errorMessage.style.display = 'none';
        });
    });
</script>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>