<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/sidebar::head(title='Cập nhật tài sản')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="../assets/css/styles.min.css"/>
    <style>

        /* CSS nền hiển thị Modal */
        .nenmodal .nenmodal2 {
            top: 0px;
            left: 0px;
            width: 70vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);

            display: none;
        }

        /* CSS bảng nội dung Modal */
        .nenmodal .ndmodal {
            position: absolute;
            top: 50%;
            left: 90%;
            /* transform:translate(-50%,-50%) scale(0); */
            background: #fff;
            width: 1000px;

            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
            border-radius: 20px;

            /* position: fixed; */
            box-shadow: 0px 0px 10px #111;
        }

        @media (max-width: 700px) {
            .nenmodal .ndmodal {
                width: 90%;
            }
        }

        /* CSS bao bọc của nút tắt Modal */
        .nenmodal .closemodal {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .mr-10 {
            margin-right: 70px;
        }

        /* CSS nút tắt modal */
        .closemodal button {
            width: 40px;
            /*height:40px;*/
            font-size: 30px;
            padding: 0px;
            border-radius: 100%;
            background: #333;
            color: #fff;
            border: none;
        }

        /* CSS hiệu ứng hiển thị Modal */
        .nenmodal.active .ndmodal {
            transition: all 300ms ease-in-out;
            transform: translate(-50%, -50%) scale(1);
        }

        .input-row {
            white-space: nowrap; /* Ngăn các phần tử xuống dòng */
        }

        .input-row input {
            display: inline-block; /* Hiển thị input trên cùng một hàng */
            width: 120px; /* Đặt chiều rộng tự động */
            margin-right: 30px; /* Khoảng cách giữa các input */
        }

        .input-row .form-sl {
            display: inline-block; /* Hiển thị input trên cùng một hàng */
            width: 50px; /* Đặt chiều rộng tự động */
            margin-right: 30px; /* Khoảng cách giữa các input */
        }

        .formbold-input-group {
            height: 37px
        }

        .formbold-input-group input, .formbold-input-group select, .formbold-input-group textarea {
            height: 30%;
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }

        #col-40 {
            float: left;
            width: 40%;
            margin-top: 6px;
            text-align: left;
        }

        /* Floating column for inputs: 75% width */
        #col-60 {
            float: left;
            width: 60%;
            margin-top: 6px;
        }

        .btn-form {
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
        }

        .title-home {
            font-weight: 700;
            font-size: 16px;
        }

        .btn-form button {
            margin-left: 5px;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <!-- js Modal -->
    <script>
        function redirectToHome() {
            window.location.href = "/home"; // Adjust the URL if necessary
        }

        function displaySelectedValue() {
            var selectElement = document.getElementById("assetType");
            var selectedValue = selectElement.options[selectElement.selectedIndex].text;
            var selectedValueDiv = document.getElementById("selectedValue");
            selectedValueDiv.textContent = selectedValue;
            selectedValueDiv.style.display = "block";
        }
    </script>
</head>
<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <div th:replace="~{/fragments/sidebar::sidebar}"></div>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{/fragments/header::header}"></div>
        <div class="container-fluid" style="margin:0;max-width: 100%">
            <div class="row">
                <div class="col-lg-12 d-flex align-items-stretch">
                    <!-- html modal -->
                    <div class="nenmodall w-60" id="nenmodal-1" style="width:60%;margin-top: -30px">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="card-body" style="margin-top: -20px;">
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40"
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="mb-0 title-home" fw-semibold th:text="#{assetID}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 style="white-space: normal;" class="fw-semibold mb-1 w-100 asset-id"
                                                th:data-index="${asset.idAsset}" th:text="${asset.idAsset}"></h6>
                                        </div>
                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40"
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="mb-0 title-home fw-semibold" th:text="#{assetName}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 style="white-space: normal;" class="fw-semibold mb-1"
                                                th:text="${asset.assetName}"></h6>
                                        </div>
                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home" th:text="#{assetCategory}"></h6>
                                        </div>

                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 class="fw-semibold mb-1 "
                                                th:text="${typeMap.get(asset.idAsset).typeName}"></h6>
                                        </div>

                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home" th:text="#{status}"></h6>
                                        </div>

                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 class="fw-semibold mb-1 "
                                                th:if="${statusMap.get(asset.idAsset).getIdStatus() == 0}" th:text="#{usable}">
                                            </h6>
                                            <h6 class="fw-semibold mb-1 "
                                                th:if="${statusMap.get(asset.idAsset).getIdStatus() != 0}" th:text="#{unusable}">
                                            </h6>
                                        </div>

                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home" th:text="#{quantityInStock}"></h6>

                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 class="fw-semibold mb-1 center"
                                                th:text="${warehouse.getStockQuantity()}"></h6>
                                        </div>
                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home" th:text="#{quantityBorrowed}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 class="fw-semibold mb-1 center" name="unavailableQuantity"
                                                th:text="${warehouse.getUnavailableQuantity()}"></h6>

                                        </div>
                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home" th:text="#{price}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 class="fw-semibold mb-1 price"
                                                th:text="${asset.purchasePrice} + ' VNĐ'"></h6>
                                        </div>
                                    </div>
                                    <div class="row formbold-input-group" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home center" th:text="#{date}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-primary rounded-3 fw-semibold"
                                                      th:text="${asset.datePurchase}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row formbold-input-group h-50" style="height: 40px">
                                        <div class="col-40 "
                                             style=" float: left;width: 40%;margin-top: 6px;text-align: left;">
                                            <h6 class="fw-semibold mb-0 title-home center"
                                                th:text="#{description}"></h6>
                                        </div>
                                        <div class="col-60" style="   float: left;width: 60%;margin-top: 6px;">
                                            <h6 style="white-space: normal;" class="fw-semibold mb-0 fs-4"
                                                th:text="${asset.description}"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" th:if="${loggedInAccount.role == 1}">
                                    <h5 class="card-title fw-semibold mb-4" th:text="#{borrowRequest}"></h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <p th:if="${session.error}" class="alert alert-primary" role="alert"
                                               th:text="${session.error}">
                                            </p>
                                            <form id="requestForm">
                                                <div class="mb-3">
                                                    <label class="form-label" th:text="#{quantity}"></label>
                                                    <input id="quantityInput" type="number" name="quantity"
                                                           class="form-control"
                                                           placeholder="">
                                                </div>
                                                <button type="submit" id="submit" class="btn btn-primary"
                                                        th:text="#{submit}"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-section w-40" style="width:40%;padding: 20px">
                        <h2 th:text="#{comment}"></h2>
                        <div style="max-height: 400px; overflow-y: auto">
                            <div style="width: 95%; height: auto; word-break: break-word; white-space: normal;"
                                 th:each="comment, commentIndex : ${comments}">
                                <p style="font-size: 16px; margin-bottom: -3px"
                                   th:data-comment-id="${comment.id}"
                                   th:data-comment-asset-id="${comment.getAssetId()}"
                                   th:data-comment-content="${comment.content}"
                                   th:data-username="${listNameComment.get(comment.getId())}"
                                   th:data-index="${commentIndex.index}">
                                    <strong th:text="${listNameComment.get(comment.getId())}"></strong>:
                                    <span class="comment-content" th:text="${comment.content}"></span>
                                    <!--                                    <button th:if="${loggedInAccount.role == 0}" type="button"-->
                                    <!--                                            class="report-cmt-btn btn btn-success m-1"-->
                                    <!--                                            th:text="#{report}" data-color="#D27878FF"></button>-->
                                    <!--                                    <button th:if="${loggedInAccount.role == 0}" type="button"-->
                                    <!--                                            class="unreport-cmt-btn btn btn-success m-1"-->
                                    <!--                                            th:text="#{unreport}" data-color="#ffffff"></button>-->
                                    <button th:if="${loggedInAccount.role == 0}" type="button"
                                            class="delete-cmt-btn btn btn-success m-1"
                                            th:text="#{delete}"
                                            style="margin-top: -20px;margin-right: 35px;float: right"></button>
                                </p>
                                <p style="font-size: 12px"><em th:text="${comment.createdAt}"></em></p>
                            </div>
                        </div>


                        <div th:if="${loggedInAccount.role == 0}">
                            <h5 th:text="#{addComment}"></h5>
                            <form th:action="@{/asset/{id}/comment(id=${asset.idAsset})}" th:object="${newComment}"
                                  method="post">
                                <div>
                                    <input type="" style="display: none" th:value="${loggedInAccount.getId_account()}"
                                           name="accountId" id="accountId" th:field="*{accountId}"/>
                                    <textarea
                                            style="padding-left: 20px;min-height: 100px;  width: 95%;height: auto;word-break: break-word;white-space: normal; border-radius: 20px;margin-bottom: 20px;border: 1.5px solid #000;"
                                            id="content" th:placeholder="#{commentHolder}" th:field="*{content}"
                                            required></textarea>
                                </div>
                                <div style="margin-top: -20px;margin-right: 35px;float: right">
                                    <button type="submit" class="btn btn-danger m-1" th:text="#{send}"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        const commentElements = document.querySelectorAll('[data-comment-id]');-->
<!--        commentElements.forEach(element => {-->
<!--            const button = element.querySelector('.report-cmt-btn');-->
<!--            button.addEventListener('click', () => {-->
<!--                element.style.backgroundColor = button.getAttribute('data-color');-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        const commentElements = document.querySelectorAll('[data-comment-id]');-->
<!--        commentElements.forEach(element => {-->
<!--            const button = element.querySelector('.unreport-cmt-btn');-->
<!--            button.addEventListener('click', () => {-->
<!--                element.style.backgroundColor = button.getAttribute('data-color');-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Lấy tất cả phần tử có class price
        const prices = document.querySelectorAll('.price');
        function formatCurrency(num) {
            return num.toLocaleString('vi-VN', {
                style: 'currency',
                currency: 'VND'
            });
        }
        // Duyệt qua từng phần tử
        prices.forEach(price => {
            // Lấy giá trị gốc
            const originalPrice = parseInt(price.innerHTML);
            // Định dạng
            const formattedPrice = formatCurrency(originalPrice);
            // Gán lại giá trị đã định dạng
            price.innerHTML = formattedPrice;
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '.delete-cmt-btn', function () {
            const commentId = $(this).closest('p').data('comment-id');
            const assetId = $(this).closest('p').data('comment-asset-id');

            const confirmation = confirm('Bạn có chắc chắn muốn xóa comment này không?');
            if (confirmation) {
                $.ajax({
                    url: `/comment/deleteComment/${commentId}/${assetId}`,
                    type: 'POST',
                    success: function (response) {
                        console.log('Đã xóa comment thành công');
                        $(this).closest('.comment').remove();
                        // Reload trang sau khi xóa thành công
                        location.reload();
                    }.bind(this),
                    error: function (xhr, status, error) {
                        console.error('Lỗi xóa comment:', error);
                    }
                });
            }
        });
    });

</script>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script th:inline="javascript">
    // Lấy thẻ form và nút submit theo id
    var form = document.getElementById('requestForm');
    var quantityInput = document.getElementById('quantityInput');
    var submitButton = document.getElementById('submit');

    // Thêm sự kiện 'submit' vào form
    form.addEventListener('submit', function(event) {
        // Lấy giá trị của trường số liệu
        var quantityValue = quantityInput.value;
        if (quantityValue.trim() == '') {
            // Ngăn chặn gửi form lên server nếu giá trị không hợp lệ
            event.preventDefault();
            // Hiển thị thông báo hoặc thực hiện hành động phù hợp ở đây
            alert('Please. Input Quantity');
            return; // Dừng lại khi giá trị không hợp lệ
        }
        // Kiểm tra nếu giá trị nhỏ hơn hoặc bằng 1
        if (parseInt(quantityValue) < 1) {
            // Ngăn chặn gửi form lên server nếu giá trị không hợp lệ
            event.preventDefault();
            // Hiển thị thông báo hoặc thực hiện hành động phù hợp ở đây
            alert('Please. Input Quantity');
            return; // Dừng lại khi giá trị không hợp lệ
        }
        // Nếu mọi thứ hợp lệ, tiếp tục xử lý form
        // Ngăn chặn hành vi mặc định của form
        event.preventDefault();

        // Thu thập dữ liệu từ form
        var formData = {
            idAsset: document.querySelector('h6.asset-id').dataset.index,
            quantity: quantityValue
        };
        $.ajax({
            type: 'POST',
            url: '/request',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                // Xử lý phản hồi thành công
                window.location.reload();
                alert('Request submitted successfully!');
            },
            error: function(xhr, status, error) {
                // Xử lý lỗi
                alert('Error: ' + xhr.responseText);
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const commentElements = document.querySelectorAll('[data-comment-id]');

        commentElements.forEach(element => {
            const commentContent = element.getAttribute('data-comment-content').trim();
            fetch(`http://localhost:8000/predict/${encodeURIComponent(commentContent)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.prediction === 0) { // Đổi màu nếu dự đoán là 0
                        element.querySelector('.comment-content').style.color = 'red';
                    } else if (data.prediction === 1) { // Đổi màu nếu dự đoán là 1
                        element.querySelector('.comment-content').style.color = 'green';
                    }

                })
                .catch(error => {
                    console.error('Error fetching prediction:', error);
                });
        });
    });

</script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
</body>

</html>