<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/sidebar::head(title='Forgot Password')}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
<!--              <a class="text-nowrap logo-img text-center d-block py-3 w-100">-->
<!--                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">-->
<!--              </a>-->
              <div class="language-selector">
                <a href="?lang=vi" class="lang-btn">Vietnamese</a>
                <span>|</span>
                <a href="?lang=en" class="lang-btn">English</a>
              </div>
              <div style="text-align: center; font-size:24px;font-weight: 700  " th:text="#{forgotPassword}"><b></b></div>
              <form method="post" th:action="@{/forgot-password}">
                <div class="mb-3">
                  <label for="email" class="form-label" th:text = "#{emailAddress}"></label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" th:text="#{confirm}"></button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold"></p>
                  <a class="text-primary fw-bold ms-2" href="/dang-nhap" th:text="#{backLogin}"></a>
                </div>
              </form>
              <p th:if="${session.error}" class="alert alert-danger" role="alert" th:text="${session.error}"></p>
              <p th:if="${session.message}" class="alert alert-success" role="alert" th:text="${session.message}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
