<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/sidebar::head(title='Mượn tài sản')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="../assets/css/styles.min.css"/>
</head>
<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <div th:replace="~{/fragments/sidebar::sidebar}"></div>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{/fragments/header::header}"></div>
        <!--  Header End -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4" th:text="#{borrowRequest}"></h5>
                        <div class="card">
                            <div class="card-body">
                                <p th:if="${session.error}" class="alert alert-primary" role="alert" th:text="${session.error}">
                                </p>
                                <form id="requestForm">
                                    <div class="mb-3">
                                        <label for="disabledSelect" class="form-label" th:text="#{assetName}"></label>
                                        <select id="disabledSelect"
                                                name="idAsset" class="form-select">
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" th:text="#{quantity}"></label>
                                        <input id="quantityInput" type="number" name="quantity" class="form-control"
                                               placeholder="">
                                    </div>
                                    <button type="submit" id="submit" class="btn btn-primary" th:text="#{submit}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/listAsset',
            type: 'GET',
            dataType: 'json',
            success: function(assets) {
                console.log(assets); // Kiểm tra dữ liệu trả về
                var select = $('#disabledSelect');
                $.each(assets, function(index, asset) {
                    select.append($('<option></option>').attr('value', asset.idAsset).text(asset.assetName));
                });
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText); // Log responseText để kiểm tra lỗi
                alert('Đã xảy ra lỗi khi tải danh sách tài sản.');
            }
        });
    });

    // Lấy thẻ form và nút submit theo id
    var form = document.querySelector('form');
    var quantityInput = document.getElementById('quantityInput');
    var submitButton = document.getElementById('submit');

    // Thêm sự kiện 'submit' vào form
    form.addEventListener('submit', function(event) {
        // Lấy giá trị của trường số liệu
        var quantityValue = quantityInput.value;
        if (quantityValue.trim() == '') {
            // Ngăn chặn gửi form lên server nếu giá trị không hợp lệ
            event.preventDefault();
            // Hiển thị thông báo hoặc thực hiện hành động phù hợp ở đây
            alert('Vui lòng thêm số lượng');
        }
        // Kiểm tra nếu giá trị nhỏ hơn hoặc bằng 1
        if (parseInt(quantityValue) < 1) {
            // Ngăn chặn gửi form lên server nếu giá trị không hợp lệ
            event.preventDefault();
            // Hiển thị thông báo hoặc thực hiện hành động phù hợp ở đây
            alert('Vui lòng thêm số lượng');
        }
    });

    $(document).ready(function() {
        $('#requestForm').submit(function(event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của form

            // Thu thập dữ liệu từ form
            var formData = {
                idAsset: $('select[name="idAsset"]').val(),
                quantity: $('input[name="quantity"]').val()
            };

            $.ajax({
                type: 'POST',
                url: '/request',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    // Xử lý phản hồi thành công
                    alert('Request submitted successfully!');
                },
                error: function(xhr, status, error) {
                    // Xử lý lỗi
                    alert('Error: ' + xhr.responseText);
                }
            });
        });
    });
</script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>

</body>

</html>