<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/stylesUM.css" rel="stylesheet" />
    <th:block th:replace="~{/fragments/sidebar::head(title='Quản lý tài khoản')}" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div th:replace="~{/fragments/sidebar::sidebar}"></div>
    <div class="body-wrapper">
        <div th:replace="~{/fragments/header::header}"></div>
        <div class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2> <b th:text="#{userManagement}"></b></h2>
                            </div>
                            <div class="col-sm-6" th:action="@{/userManagement}">
                                <div class="search-box">
                                    <div class="input-group">
                                        <input type="text" id="search" th:value="${keyword}" class="form-control" th:placeholder="#{searchByName}">
                                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr >
                            <th style="width: 10%;">#</th>
                            <th style="width: 12%;" th:text="#{firstN}"></th>
                            <th style="width: 12%;" th:text="#{lastN}"></th>
                            <th style="width: 15%;" th:text="#{dayOfBirth}"></th>
                            <th style="width:30%;" th:text="#{email}"></th>
                            <th style="width: 10%;" th:text="#{rol}"></th>
                            <th style="width: 12%;" th:text="#{ac}" ></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="user : ${listUser}">
                            <td th:text="${user.idAccount}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.dayOfBirth}"></td>
                            <td th:text="${user.mail}"></td>
                            <td th:text="${user.role}"></td>
                            <td >

                                <!--                                    <a th:href="@{/updateUser/{id}(id=${user.idAccount})}" class="edit" title="Edit" data-toggle="modal" data-target="#nenmodal-1"><i class="material-icons">&#xE254;</i></a>-->
                                <a href="#" class="edit" title="Edit" data-toggle="modal" data-target="#editUserModal" th:data-userid="${user.idAccount}"><i class="material-icons">&#xE254;</i></a>
<!--                                <a href="#" class="delete" title="Delete" data-toggle="tooltip" th:data-userid="${user.idAccount}"><i class="material-icons">&#xE872;</i></a>-->


                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="updateUserForm" method="POST"  action="/updateUser/{id}">
                                        <input type="hidden"  name="idAccount" id="idAccount"/>
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="dayOfBirth">Day of Birth</label>
                                            <!--                                                <input type="date" class="form-control" id="dayOfBirth" name="dayOfBirth">-->
                                            <input type="date" class="form-control" id="dayOfBirth" name="dayOfBirth">
                                            <!--                                                <span id="dayOfBirthDisplay" class="form-control" readonly></span>-->
                                        </div>
                                        <div class="form-group">
                                            <label for="dayOfBirth">Email</label>
                                            <input type="email" class="form-control" id="mail" name="mail">
                                        </div>
                                        <div class="form-group">
                                            <label for="dayOfBirth">Role</label>
                                            <input type="number" class="form-control" id="role" name="role">
                                        </div>
                                        <!-- Add other fields as needed -->
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <button type="button"  id="cancelButton" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        // Xử lý sự kiện click cho nút xóa
        $('.delete').click(function(event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ a

            const id = $(this).data('userid');

            // Hiển thị alert xác nhận
            const confirmation = confirm('Bạn có chắc chắn muốn xóa người dùng này không?');

            if (confirmation) {
                // Gửi yêu cầu POST để xóa người dùng
                $.ajax({
                    url: `/deleteUser/${id}`,
                    type: 'POST',
                    success: function(response) {
                        console.log('Đã xóa người dùng thành công');
                        window.location.href = '/userManagement'; // Điều hướng về trang quản lý người dùng
                    },
                    error: function(xhr, status, error) {
                        console.error('Lỗi khi xóa người dùng:', error);
                        alert('Đã xảy ra lỗi khi xóa người dùng. Vui lòng thử lại sau.');
                    }
                });
            }
        });
    });
</script>
<script>
    // $(document).ready(function() {
    //     $('.edit').click(function() {
    //         var userId = $(this).data('userid'); // Lấy id của người dùng từ thuộc tính data-userid
    //         console.log("rrrrrrrrrrrr",userId);
    //         // Gán giá trị userId vào trường ẩn để truyền vào POST request
    //         $('#idAccount').val(userId);
    //
    //         // Hiển thị modal (nếu có)
    //         $('#editUserModal').modal('show');
    //     });
    // });
    //
    // // Xử lý sự kiện khi modal được đóng
    // $('#editUserModal').on('hidden.bs.modal', function() {
    //     // Reset form khi modal được đóng
    //     $('#updateUserForm')[0].reset();
    // });
    $(document).ready(function() {
        $('.edit').click(function() {
            var userId = $(this).data('userid'); // Lấy id của người dùng từ thuộc tính data-userid
            console.log("User ID:", userId);

            // Gán giá trị userId vào trường ẩn để truyền vào POST request
            $('#idAccount').val(userId);

            // Cập nhật URL của form để bao gồm ID thực tế
            var formActionUrl = `/updateUser/${userId}`;
            $('#updateUserForm').attr('action', formActionUrl);

            // Hiển thị modal (nếu có)
            $('#editUserModal').modal('show');
        });

        // Xử lý sự kiện khi modal được đóng
        $('#editUserModal').on('hidden.bs.modal', function() {
            // Reset form khi modal được đóng
            $('#updateUserForm')[0].reset();
        });
        // Xử lý sự kiện khi nút 'Cancel' được nhấn
        $('#cancelButton').click(function() {
            window.location.href = '/userManagement'; // Điều hướng về trang quản lý người dùng
        });
        $('.close').click(function() {
            window.location.href = '/userManagement'; // Điều hướng về trang quản lý người dùng
        });
    });

</script>

<script>
    $(document).ready(function() {
        $('.edit').click(function() {
            var userId = $(this).data('userid'); // Lấy id của người dùng từ thuộc tính data-userid của nút edit
            console.log("User ID:", userId);

            // Gán giá trị userId vào trường ẩn để truyền vào POST request
            $('#idAccount').val(userId);

            // Gửi yêu cầu AJAX để lấy thông tin chi tiết của người dùng
            $.ajax({
                url: '/getUpdateUser/' + userId,
                type: 'GET',
                success: function(data) {
                    console.log("aaaaaaaa", data);
                    $('#firstName').val(data.firstName);
                    $('#lastName').val(data.lastName);
                    $('#dayOfBirth').val(data.dayOfBirth);
                    $('#mail').val(data.mail);
                    $('#role').val(data.role);
                    // Các trường khác có thể được điền tương tự
                },

                error: function(err) {
                    console.error('Failed to fetch user details:', err);
                }
            });
        });
    });

</script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/home}]]";
    }
</script>
<script>
    $(document).ready(function(){
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();

        // Filter table rows based on searched term
        $("#search").on("keyup", function() {
            var term = $(this).val().toLowerCase();
            $("table tbody tr").each(function(){
                $row = $(this);
                var name = $row.find("td:nth-child(2)").text().toLowerCase();
                console.log(name);
                if(name.search(term) < 0){
                    $row.hide();
                } else{
                    $row.show();
                }
            });
        });
    });
</script>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>

</body>

</html>