<!doctype html>
<html lang="en">

<head th:replace="~{/fragments/sidebar::head(title='Danh sách mượn')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <div th:replace="~{/fragments/sidebar::sidebar}"></div>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <div th:replace="~{/fragments/header::header}"></div>
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
                <div class="col-lg-12 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <h5 class="card-title fw-semibold mb-4" th:text="#{listBorrow}"></h5>
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 align-middle">
                                    <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" th:text="#{employeeID}"></h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" th:text="#{employeeName}"></h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" th:text="#{assetName}"></h6>
                                        </th>
                                        <th class="border-bottom-0 text-center">
                                            <h6 class="fw-semibold mb-0" th:text="#{quantity}"></h6>
                                        </th>
                                        <th class="border-bottom-0 text-center">
                                            <h6 class="fw-semibold mb-0" th:text="#{borrowDate}"></h6>
                                        </th>
                                        <th class="border-bottom-0 text-center">
                                            <h6 class="fw-semibold mb-0" th:text="#{returnDate}"></h6>
                                        </th>
                                        <th th:if="${loggedInAccount.role == 0}" class="text-center border-bottom-0">
                                            <h6 class="fw-semibold mb-0" th:text="#{action}"></h6>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="request : ${listAllRequest}">
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0" th:text="${request.getDetailAccount().getIdAccount()}"></h6>
                                        </td>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"
                                                                        th:text="${request.getDetailAccount().getFullName()}"></h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1"
                                                th:text="${request.getAsset().getAssetName()}"></h6>
                                        </td>
                                        <td class="border-bottom-0 text-center">
                                            <h6 class="mb-0 fw-normal" th:text="${request.getQuantity()}"></h6>
                                        </td>
                                        <td class="border-bottom-0 text-center">
                                            <h6 class="badge bg-primary rounded-3 fw-semibold margin-bottom-0"
                                               th:text="${#dates.format(request.getBorrowDate(), 'dd/MM/yyyy HH:mm:ss')}"></h6>
                                        </td>

                                        <td class="border-bottom-0 text-center">
                                            <h6 class="badge bg-primary rounded-3 fw-semibold margin-bottom-0"
                                               th:text="${#dates.format(request.getReturnDate(), 'dd/MM/yyyy HH:mm:ss')}"></h6>
                                        </td>
                                        <td th:if="${loggedInAccount.role == 0 && request.getStatus().getIdStatus() == 0}" class="border-bottom-0 text-center">
                                            <a class="btn btn-info m-1" th:href="@{'/updateStatusListBorrow/' + ${request.getAsset().getIdAsset()} + '/' + ${request.getDetailAccount().getIdAccount()}}">
                                                Return
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
</body>

</html>